body {
    margin: 0px;
    padding: 0px;
}
.header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    position: relative;
}
.header img {
    max-width: 100%;
    width: 1090px;
    height: 250px;
    display: block;
    margin: auto;
}

section {
    position: relative;
    margin-top: -230px;
    text-align: center;
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-style: italic;
    font-size: 30px;

}
.under {
    margin-top: -32px;
    font-size: 27px;
    font-weight: bold;
}
.logo {
    margin-top: -195px;

}
.logo img{
    height: 60px;
    width: 60px;
}
article {
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 50px;
     position: relative;
}
.nav  {
     display: block;
     margin: auto;
     list-style: none;
     margin-top: 105px;
     margin-left: 15px;
}
.nav li {
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 42.7px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: lightslategray;

}









