body {
    margin: 0px;
    padding: 0px;
}
.header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
.header img {
    max-width: 100%;
    width: 1090px;
    height: 300px;
    display: block;
    margin: auto;
    position: relative;
}

section {
    margin-top: -100px;
    text-align: center;
    padding-top: 50px;
}





