body {
    margin: 0px;
    padding: 0px;
    background-image: url('/home/riceh3/205CDE-Worksheets/Portfolio/images/background.jpg');

}

.header img {
    max-width: 100%;
    width: 1090px;
    height: 300px;
    display: block;
    margin: auto;
    padding-top:50px;
    
}


section {
    position: relative;
    margin-top: -200px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-style: italic;
    font-size: 30px;
    color: white;
    

}


.under {
    font-size: 27px;
    font-weight: bold;
   
}


.logo img{
    height: 60px;
    width: 60px;
}

.menu {
    padding-top: 33px;
    max-width: 100%;
    width: 1090px; 
    display: block;
    margin: auto;
    
}
.menu ul {
    position: relative; 
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    
} 
.menu li {
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-style: italic;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
}
.menu li a:active{
    color: lightseagreen;
}



.profilepic {
    position: relative;
    margin-top: 70px;
    margin-left: 80px;
    padding-bottom: 100px;
}



article {
    
    position: relative;
    max-width: 800px;
    text-align: left;
    margin-top: 100px;
    height: 400px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-style: italic;
    
}
.content p{
    position: relative;
    font-size: 20px;
}



form {
    margin-top: -40px;
    margin-left: 500px;
    width: 150px;
    
}
input[id="enter"]{
    background-color: #cfd2d3;
    color: black;  
   
    
    
}
input[type="text"]{
    width: 100%;
    height: 27px;
    background-image: url("/home/riceh3/205CDE-Worksheets/Portfolio/images/searchicon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 3px; 
    border: none;
   
}
.menu li a:hover {
    color: lightseagreen;
}